*

!.dockerignore

!types/
!types/**

!arbitrum/
!arbitrum/Dockerfile
!arbitrum/go.mod
!arbitrum/go.sum
!arbitrum/*.go

!arbitrum/cmd/
!arbitrum/cmd/**
!arbitrum/server/
!arbitrum/server/**
!arbitrum/bold/
!arbitrum/bold/**

!arbitrum/docker/
!arbitrum/docker/**

!arbitrum/bin/
!arbitrum/bin/nitro
